services:
  postgresql:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: urls
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "15202:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend

  redis:
    image: redis:8
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: [ "redis-server", "--appendonly", "yes" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - backend

  url-shortener:
    build: .
    env_file:
      - .docker-env
    ports:
      - "8082:8082"
    volumes:
      - .:/app
    working_dir: /app
    command: go run -tags musl -ldflags "-w -s" cmd/app/main.go
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: no
    networks:
      - backend

  migrate:
    image: migrate/migrate
    volumes:
      - ./db/migrations:/migrations
    depends_on:
      - postgresql
    networks:
      - backend
    profiles:
      - migrations

volumes:
  postgres-data:
  redis-data:

networks:
  backend:
    driver: bridge